.contact {
	&__title {
		@include title;
		padding-top: 80px;
	}
	&__subtitle {
		@include subtitle;
		padding-bottom: 70px;
		@include breakpoint(xs) {
			max-width: 250px;
			font-size: 13px;
		}
	}
}

#map {
	height: 450px;
}