.main {
	background-color: #f3f3f3;
	&__container {
		padding-top: 90px;
	}
	&__title {
		@include title;
	}
	&__subtitle {
		@include subtitle;
		@include breakpoint(xs) {
			padding-bottom: 30px;
			max-width: 250px;
			font-size: 13px;
		}
	}
	&__works {
		display: flex;
		justify-content: center;
  		display: -ms-flexbox;
  		-ms-flex-pack: center;
		&__buttons {
			list-style: none;
			padding: 10px;
			@include breakpoint(xs) {
				padding: 0;
			}
		}
		&__link {
			text-decoration: none;
			padding: 10px;
			color: #464646;
			font-family: $open-sans-font-family;
			font-size: 16px;
			font-weight: 600;
			position: relative;
			border: none;
			background-color: transparent;
			transition: all .3s ease;
			&:hover {
				cursor: pointer;
				opacity: 0.7;
			}
			&--active{
				&:after{
					content: "";
					margin: 0 auto;
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					width: 50%;
					height: 2px;
					background-color: #11be9b;
				}
			}
			@include breakpoint(xs) {
				font-size: 12px;
			}
		}
		&__photos {
			max-width: 1120px;
			margin: 0 auto;
			margin-top: 60px;
			margin-bottom: 100px;
			@include breakpoint(md) {
				max-width: 840px;
			}
			@include breakpoint(tb) {
				max-width: 560px;
			}
			@include breakpoint(xs) {
				max-width: 280px;
			}
			// @include breakpoint(xs) {
			// 	max-width: 60%;
			// }
			&-item {
				display: block;
				text-decoration: none;
				margin-right: 5px;
				margin-left: 5px;
				margin-bottom: 5px;
				width: 24%;
				&:hover {
					transition: all .3s ease;
					opacity: .8;				
				}
			}
		}
	}
}

.test {
	margin: 0 auto;
}