@mixin background($url) {
	background: {
		image: $url;
		repeat: no-repeat;
		size: cover;
		attachment: fixed;
	}
}

@mixin title {
	margin-bottom: 40px;	
	text-align: center;
	color: #333b46;
	font-family: $source-sans-font-family;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 5px;
}

@mixin subtitle {
	margin: 0 auto;
	padding-bottom: 90px;
	text-align: center;
	width: 400px;
	color: #81868e;
	font-family: $open-sans-font-family;
	font-size: 14px;
	font-weight: 600;
	line-height: 25px;	
}

// Breakpoints (Example: @include breakpoint(tablet) { YOUR CODE GOES HERE } )
@mixin breakpoint($point) {
    // Extra small devices (320px +)
    @if $point == xs {
         @media only screen and (min-width : 320px) and (max-width: 479px) {
            @content;
        }
    }
    // Small devices (480px +)
    @else if $point == sm {
         @media only screen and (max-width : 767px) {
            @content;
        }
    }
    // Tablets (768px +)
    @else if $point == tb {
         @media only screen and (max-width : 991px) {
            @content;
        }
    }
    // Medium Devices, Notebooks (992px +)
    @else if $point == md {
         @media only screen and (max-width : 1159px) {
            @content;
        }
    }
    // Large Devices, Wide Screens
    @else if $point == desktop {
         @media only screen and (min-width : 1160px){
            @content;
        }
    }
}