.team {
	&__container {
		padding-top: 80px;
		margin-bottom: 90px;
	}
	&__title {
		@include title;
	}
	&__subtitle {
		@include subtitle;
		@include breakpoint(xs) {
			max-width: 250px;
			font-size: 13px;
		}
	}
	&__slider {
		margin: 0 auto;
		width: 100%;
		max-width: 1000px;
		margin-bottom: 120px;
		&__img {
			@include breakpoint(tb) {
				width: 150px;
			}
			@include breakpoint(xs) {
				width: 200px;
			}
		}
		&__slide {
			display: flex;
			display: -ms-flexbox;
			justify-content: space-between;
			-ms-flex-pack: justify;
			@include breakpoint(tb) {
			}
			@include breakpoint(xs) {
				flex-direction: column;
				align-items: center;
				-ms-flex-direction: column;
				-ms-flex-align: center;
			}
			
		}
		&__photo {
			margin-bottom: 60px;
			@include breakpoint(tb) {
				padding-left: 20px;
			}
			@include breakpoint(xs) {
				
			}
		}
		&__info {
			text-align: right;
			@include breakpoint(tb) {
					padding-left: 10px;
			}
			@include breakpoint(xs) {
				text-align: center;
			}
			&-title {
				margin-top: 25px;
				padding-right: 40px;
				border-right: 4px solid #19bd9a;
				@include breakpoint(tb) {
					margin-top: 0;
					padding-right: 15px;
				}
			}
			&-name {
				color: #464646;
				font-family: $open-sans-font-family;
				font-size: 20px;
				font-weight: 600;
				letter-spacing: 1px;
				margin-bottom: 10px;
				@include breakpoint(tb) {
					font-size: 18px;
				}
			}
			&-position {
				color: #81868e;
				font-family: $source-sans-font-family;
				font-size: 15px;
				font-weight: 500;
				letter-spacing: 1px;
				font-style: italic;
				text-transform: uppercase;
				margin-bottom: 30px;
				@include breakpoint(tb) {
					font-size: 14px;
					margin-bottom: 8px;
				}
			}
			&-about {
				display: inline-block;
				width: 370px;
				color: #81868e;
				font-family: $open-sans-font-family;
				font-size: 15px;
				font-weight: 600;
				line-height: 25px;
				margin-right: 44px;
				@include breakpoint(tb) {
					width: 90%;
					max-width: 370px;
					font-size: 12px;
					margin-right: 15px;
					max-height: 150px;
					overflow: hidden;
				}
				@include breakpoint(xs) {
					margin-bottom: 40px;
				}
			}
		}
	}
}

