.testimonials {
	background-color: #f3f3f3;
	&__container {
		padding-top: 80px;
	}
	&__title {
		@include title;
	}
	&__subtitle {
		@include subtitle;
		padding-bottom: 60px;
		@include breakpoint(xs) {
			max-width: 250px;
			font-size: 13px;
		}
	}
	&__slider {
		background-color: white;
		&__slide {
			display: flex;
			display: -ms-flexbox;
			padding: 45px 100px;
			@include breakpoint(tb) {
				padding: 45px 15px;			
			}
			@include breakpoint(xs) {
				flex-direction: column;
				align-items: center;
				-ms-flex-direction: column;
				-ms-flex-align: center;
			}
		}
		&__photo {
			margin-right: 75px;
			@include breakpoint(xs) {
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
		&__info {
			margin-bottom: 70px;
			max-width: 800px; // for ie
			&-about {
				max-width: inherit;
				color: #81868e;
				font-family: $open-sans-font-family;
				font-size: 16px;
				font-weight: 600;
				line-height: 28px;
				@include breakpoint(tb) {
					font-size: 12px;
					max-height: 400px;
					overflow-y: scroll;	
				}
				@include breakpoint(xs) {
					padding-right: 5px;
				}
			}
			&-name {
				margin-top: 35px;
				color: #19bd9a;
				font-family: $open-sans-font-family;
				font-size: 16px;
				font-weight: 700;
				line-height: 20px;
				text-transform: uppercase;
			}
			&-position {
				font-family: $open-sans-font-family;
				font-size: 15px;
				font-weight: 500;
				line-height: 20px;
				text-transform: uppercase;
			}
		}
	}
}


.team__slider .slick-dots {
	bottom: 10px;
}

 .testimonials__slider .slick-dots {
    bottom: 50px;
}